@using Microsoft.AspNetCore.Mvc.Localization
@using Administration.Bll

@inject IViewLocalizer Localizer
@inject IAuthorizationServices AuthorizationServices

@{ 
    var modulePrivileges = await AuthorizationServices.GetModulePrivileges();
}

<section id="module-menu">
    <strong>@Localizer["Actions"]</strong>
    <ul>
        <li><a asp-controller="supplier" asp-action="index">@Localizer["List"]</a></li>
        @if (modulePrivileges.SupplierWrite)
        {
            <li><a asp-controller="supplier" asp-action="edit" asp-route-id="">@Localizer["Add supplier"]</a></li>
        }
    </ul>
</section>