@{
    ViewData["Title"] = "Config Index";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@Html.Partial("~/Views/Administration/_MenuConfigPartial.cshtml")

<section id="module-content">

</section>