@using Microsoft.AspNetCore.Mvc.Localization
@*@using Sku.Services.Cache;*@

@inject IViewLocalizer Localizer
@*@inject ICacheService cacheService*@

@*@{
    var modulePrivileges = cacheService.Get<Sku.Data.Models.ModulePrivilege>("module_privilege");
}*@

<section id="module-menu">
    <strong>@Localizer["Actions"]</strong>
    <ul>
        <li><a asp-controller="store" asp-action="index">@Localizer["List"]</a></li>
        @*@if (modulePrivileges.StoreWrite)
        {*@
            <li><a asp-controller="store" asp-action="edit" asp-route-id="">@Localizer["Add store"]</a></li>
        @*}*@
    </ul>
</section>