@using Microsoft.AspNetCore.Mvc.Localization
@using Administration.Bll

@inject IViewLocalizer Localizer
@inject IAuthorizationServices AuthorizationServices

@{
    var modulePrivileges = await AuthorizationServices.GetModulePrivileges();
}

<section id="module-menu">
    <strong>@Localizer["Actions"]</strong>
    <ul>
        <li><a asp-controller="store" asp-action="index">@Localizer["List"]</a></li>
        @if (modulePrivileges.StoreWrite)
        {
            <li><a asp-controller="store" asp-action="edit" asp-route-id="">@Localizer["Add store"]</a></li>
        }
    </ul>
</section>