@using Microsoft.AspNetCore.Mvc.Localization
@using Administration.Bll

@inject IViewLocalizer Localizer
@inject IAuthorizationServices AuthorizationServices

@{
    var modulePrivileges = await AuthorizationServices.GetModulePrivileges();
}

<section id="module-menu">
    <strong>@Localizer["Actions"]</strong>
    <ul>
        <li><a asp-area="sku" asp-controller="client" asp-action="index">@Localizer["List"]</a></li>
        @if (modulePrivileges.ClientWrite)
        {
            <li><a asp-controller="client" asp-action="editlegal" asp-route-id="">@Localizer["Add legal client"]</a></li>
            <li><a asp-controller="client" asp-action="editnatural" asp-route-id="">@Localizer["Add natural client"]</a></li>
        }
    </ul>
</section>