@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Mvc.Localization
@*@inject IViewLocalizer Localizer*@

<div id="container">
    <form asp-controller="home" asp-action="login" asp-antiforgery="true">
        <h1>LOGO</h1>
        @if (TempData["Error"] != null && (bool)TempData["Error"])
        {
            <div class="validation-error">
                <ul>
                    @foreach (string message in (string[])TempData["Messages"])
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
        }
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email">
            <i class="fa fa-at" aria-hidden="true"></i>
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <a href="#disabled" id="login" class="go">Login</a>
            <a asp-controller="home" asp-action="register" id="register">Register</a>
            <input type="submit">
        </div>
        <div>
            <a href="#disabled" id="forgotten-password">Forgotten password? </a>
        </div>
    </form>

</div>

<div id="spacer"></div>
