@page
@model RegisterModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Mvc.Localization
@*@inject IViewLocalizer Localizer*@

<div id="container">
    <form asp-page="register" asp-antiforgery="true">
        <h1>LOGO</h1>
        @if (TempData["Error"] != null && (bool)TempData["Error"])
        {
            <div class="validation-error">
                <ul>
                    @foreach (string message in (string[])TempData["Messages"])
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
        }
        <div><strong>Информация за фирма</strong></div>
        <div>
            <label asp-for="OrganizationName">Име</label>
            <input asp-for="OrganizationName">
            <i class="fa fa-bank" aria-hidden="true"></i>
            <span asp-validation-for="OrganizationName"></span>
        </div>
        <div>
            <label asp-for="Mol">МОЛ</label>
            <input asp-for="Mol">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span asp-validation-for="Mol"></span>
        </div>
        <div><strong>Информация за потребител</strong></div>
        <div>
            <label asp-for="Email">Email адрес</label>
            <input asp-for="Email">
            <i class="fa fa-at" aria-hidden="true"></i>
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Парола</label>
            <input asp-for="Password">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторете паролата</label>
            <input asp-for="ConfirmPassword">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <label asp-for="FirstName">Име</label>
            <input asp-for="FirstName">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName">Фамилия</label>
            <input asp-for="LastName">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <a href="#disableld" id="register" class="go">Регистрация</a>
            <input type="submit">
        </div>
    </form>

</div>

<div id="spacer"></div>

@section Scripts {
    <script src="~/js/front.js"></script>
}