@page
@model RegisterModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Mvc.Localization
@*@inject IViewLocalizer Localizer*@

<div id="container">
    <form asp-page="register" asp-antiforgery="true">
        <h1>LOGO</h1>
        @if (TempData["Error"] != null && (bool)TempData["Error"])
        {
            <div class="validation-error">
                <ul>
                    @foreach (string message in (string[])TempData["Messages"])
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
        }
        <div><strong>Localizer["Firm information"]</strong></div>
        <div>
            <label asp-for="OrganizationName">Localizer["Organization name"]</label>
            <input asp-for="OrganizationName">
            <i class="fa fa-bank" aria-hidden="true"></i>
            <span asp-validation-for="OrganizationName"></span>
        </div>
        <div>
            <label asp-for="Eik">Localizer["Eik"]</label>
            <input asp-for="Eik">
            <i class="fa fa-bolt" aria-hidden="true"></i>
            <span asp-validation-for="Eik"></span>
        </div>
        <div>
            <label asp-for="Mol">Localizer["Mol"]</label>
            <input asp-for="Mol">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span asp-validation-for="Mol"></span>
        </div>
        <div><strong>Localizer["User information"]</strong></div>
        <div>
            <label asp-for="Email">Localizer["Email"]</label>
            <input asp-for="Email">
            <i class="fa fa-at" aria-hidden="true"></i>
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Localizer["Password"]</label>
            <input asp-for="Password">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">Localizer["Confirm password"]</label>
            <input asp-for="ConfirmPassword">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <label asp-for="FirstName">Localizer["First name"]</label>
            <input asp-for="FirstName">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName">Localizer["Last name"]</label>
            <input asp-for="LastName">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <a href="#disableld" id="register" class="go">Localizer["Register"]</a>
            <input type="submit">
        </div>
    </form>

</div>

<div id="spacer"></div>

@section Scripts {
    <script src="~/js/front.js"></script>
}