@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="widget">
    <strong>@Localizer["Todo List"]</strong>
    <div>
        <ol id="todo-list">
            <li>Да се пише мемо при добавяне на вариант</li>
            <li>В страницата със заявки за бутон request да не изкача поп ъп. Направо добавя към последната заявка или създава нова.</li>
            <li>В редакция на заявка след заявено количество колона получено и заявено количество. Получено се редактира. Заявено количество не се редактира.</li>
            <li class="done">В страницата със заявки да се сбият колоните и да има падащо меню за към кой склад да отиват продуктите.</li>
            <li class="done">Дата и час кога дадено количество е паднало под минималното. В widget-a да излиза в червено.</li>
            <li>Да се удължи времето на активност на сесията - поне 40 мин.</li>
            <li class="done">В страницата с продукти ако се зададе сърч критериа и се отвори продукт, при натискане на бак бутона да се отваря същата страница (със сърч критерия)</li>
            <li class="done">В widget продукти с малко количество да има чекбоксове за всеки склад, да се избира кои складове да се виждат</li>
            <li class="done">В редакция на продукт падащите менюта с категория, производител и доставчик да са сортирани по азбучен ред</li>
            <li class="done">В историята на промените да има кой е направил промяната</li>
            <li class="done">В страницата с продукти складовете да са групирани - пр. Централен склад 2 / 1, Централен склад 4 / 3,...</li>
            <li class="done">Да може да се трие продукт</li>
            <li class="done">Инфото в продукта да е скрито (опция от профила)</li>
            <li class="done">Визуални промени по вариантите в продукт - имената на складовете да станат по-големи и да се оцветят полетата с количествата на складовете в различни цветове. Да се раздалечат вариантите и код на вариант да е ограден.</li>
            <li class="done">В продукта когато количеството падне под минималното полето да се оцветява в червено</li>
            <li class="done">Да се разменят лентите с бутони начало/потребител... с лента склад/продукти...</li>
            <li class="done">Да има иконка пред името на склада в продукта</li>
            <li>Да не може да се редактира количества на продукт без write привилегия за склада</li>
            <li class="done">Заявки - търсене на продукт и създаване на заявка не работят</li>
            <li class="done">Widget продукти с малко количество да има колона вариант</li>
            <li class="done">Widget заявки отива горе в ляво</li>
            <li class="done">Да се показва в коя дата дадено количество е станало под зададеното</li>
            <li class="done">Търсенето да позволява търсене от 2 символа и да работи на телефони</li>
            <li class="done">В списък продукти - Добавен на се сменя с Последна промяна на. Да се показват количествата и на тази страница.</li>
            <li class="done">Приоритет на продукт в заявка, не само приоритет за продукт по принцип</li>
            <li class="done">Продуктите да имате цена с ДДС</li>
            <li class="done">Да приема 0 за количество на продукт</li>
            <li class="done">В търсене на продукти да се добави търсене по склад</li>
            <li class="done">В продуктите да има задаване на приоритет</li>
            <li>
                Нов модул - ръчна заявка, бутон за заявка със свободен текст
                <ul>
                    <li class="done">Възможност за ръчна заявка на продукти</li>
                    <li class="done">Модул за заявки на продукти - списък с продуктите както в модул продукти. Да се показва налично количествот в склада и възможност за задаване на количество за избор. Да се ползвеат чексбоксите в 1ва колона. Ако се поръчат 30 броя а има само 10, 20 броя да стоят като чакащи да се поръчат.</li>
                    <li class="done">При заявка ако се поръчат 10 а има само 5 останалите 5 да се вижда че все още се искат</li>
                    <li>При заявка на приоритетен продукт да се праща мейл - info@svetlini.bg</li>
                </ul>
            </li>
            <li class="done">МК Груп ЕООД -> МК-ГРУП БЪЛГАРИЯ ООД</li>
            <li>В модул документи да има създаване на стокова разписка и фактура и да се избират продукти и да се вадят автоматично количества</li>
            <li class="done">Синхронизация със svetlini.bg</li>
            <li class="done">На началната страница да излизат последните 10 продукти</li>
            <li class="done">Кода на продукт с минимална дължина от 2 символа</li>
            <li class="done">Да няма задължителни полета при търсене на продукт</li>
        </ol>
    </div>
</div>